/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Satisfy&display=swap');

/* Asterisk wild selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Header */
header {
    background-color: #F3EDCD;
    padding: 0 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #410c31;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit
}

h1,
h2 {
    padding: 10px;
    color: #410c31;
    font-family: "Satisfy", sans-serif;
    letter-spacing: 2px;
}

#logo {
    width: 100%;
    height: 100%;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
    list-style-type: none;
}

#menu>li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid #410c31;
    font-weight: bold;
}

/* Navbar style with dropdown toggle */
nav {
    position: absolute;
    color: #410c31;
    background-color: #F3EDCD;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #410c31;
    display: none;
    top: 100%;

}

/* Nav toggle*/
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav_toggle_label {
    color: #410c31;
    font-size: 2rem;
    padding-right: 10px;
}

/* Main content */
main {
    /*Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
    /* Enable flex properties for child elements */
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Josefin Sans", sans-serif;
}

/* Hero section */
#hero {
    height: 400px;
    width: 100%;
    background: url("../images/pexels-64242_resized.png") no-repeat center center/cover;
    position: relative;
}

#cover_text {
    /* Final rgba value sets the opacity so it is semi-transparent */
    background-color: rgba(199, 156, 186, 0.5);
    font-size: 130%;
    position: absolute;
    /* it will be placed relative to the hero section */
    bottom: 30px;
    /* it doesn't stick directly to the bottom of the image */
    width: 80%;
    /* to not cover the full width of the screen */
    min-height: 80px;
    /* to not cover the full width of the screen */
    padding: 20px 10px;
    /* bottom padding: keep balance with top padding*/
    /* top padding: it doesn't stick to the top of the cover text */
    /* left padding: out a bit of the edge of the screen */

}

/* style text in cover window */
#cover_text>h2 {
    color: #695864;
    text-align: center;
}

/* Company section */

#company {
    background-color: #410c31;
}

#company h2,
#company p {
    color: #F3EDCD;
}

#company p {
    margin: 20px;
    max-width: 50%;
    justify-content: center;
}

.bubbles {
    background-color: #F3EDCD;
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

#circle>h3,
#circle>h4 {
    top: 75px;
    text-align: center;
}

.certificates img {
    padding: 0;
}

/* Reasons section */
#reasons {
    background-color: #F3EDCD;
    width: 100%;
    margin: auto;
}

#reasons h2 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 150%;
    padding: 5px 5px;
}

#benefits_parent,
#benefits_baby {
    background: #c79cba80;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 5px 5px;
    font-family: "Josefin Sans", sans-serif;
}

#benefits ul {
    padding: 0 20px;
}

#benefits hr {
    border-top: 1px solid #3a3a3a;
    margin: 5px 0;
}

#reasons>h2,
#reasons>div,
#benefits_parent>h2,
#benefits_baby>h2 {
    color: #695864;
    font-family: "Josefin Sans", sans-serif;
}

#cover-bg {
    background: url('../images/pexels-kyle-karbowski-109303118-9666398.jpg') no-repeat top center / cover;
    height: 90vw;
    width: 90vw;
    padding-bottom: 20px;
    /* Makes the square image into a circle */
    border-radius: 20%;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 20px;
}

#benefits-image {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* classes section */
#classes {
    background-color: #410c31;
}

#classes>h2 {
    text-align: center;
    color: #F3EDCD;
}

#cover-baby-massage {
    background: url("../images/pexels-208189_w300px_h300px.png") no-repeat top center / cover;

}

#cover-baby-reflexology {
    background: url("../images/pexels-3875103_w300px_h300px.png") no-repeat top center / cover;
}

#cover-baby-and-me {
    background: url("../images/pexels-3845341_w300px_h300px.png") no-repeat top center / cover;
}

#cover-gift-box {
    background: url("../images/pexels-6765533_w300px_h300px.png") no-repeat top center / cover;
}

.image {
    max-width: 300px;
    max-height: 300px;
    height: 90vw;
    width: 90vw;
    margin: 20px;
    /* Makes the square image into a circle */
    border-radius: 20%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.text {
    font-family: "Josefin Sans", sans-serif;
    color: #410c31;
    background-color: rgba(199, 156, 186, 0.5);
    font-size: 130%;
    position: absolute;
    bottom: 30px;
    width: 90%;
    right: 0;
    text-align: right;
    padding: 10px;
}

/* Classes page*/
#image-classes {
    background: url('../images/pexels-6188038_w1400px_h788px.png') no-repeat top center / cover;
    height: 200px;
    width: 100%;
    background-color: rgba(199, 156, 186, 0.5);
    position: relative;

}

#image-classes>h2 {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    color: #F3EDCD;
    background-color: rgba(199, 156, 186, 0.5);
}

.class {
    background-color: #F3EDCD;
    color: #410c31;
    justify-content: space-between;
    text-transform: uppercase;
    text-align: center;
}

.class>div {
    padding: 5px 10px;
    box-shadow: 0.5px 0.5px #410c31;
}

.class a {
    text-decoration: none;
    color: inherit
}

.class-active {
    border-bottom: 1px solid #F3EDCD;
    font-weight: bold;
}

#baby {
    background-color: #c79cba80;
}

#image-baby-massage {
    background: url("../images/pexels-208189_w300px_h300px.png") no-repeat top center / cover;
    max-width: 300px;
    max-height: 300px;
    height: 90vw;
    width: 90vw;
    margin: 20px;
    border-radius: 20%;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.points {
    text-align: center;
    color: #F3EDCD;
    background-color: #410c31;
    height: 115px;
    width: 100%;
}

.points>div {
    padding: 5px 10px;
    box-shadow: 0.5px 0.5px #c79cba80;
}

#description-baby-massage {
    margin: 15px;
}

#description-baby-massage p,
#description-baby-massage ul {
    margin: 10px;
    line-height: 1.5;
}

#buttons {
    background-color: #c79cba80;

}

#contact-us,
#book-class {
    margin-top: 10px;
    border-radius: 10%;
    padding: 15px 30px;
    font-size: 100%;
    background-color: #410c31;
    display: block;
    float: right;
}

#contact-us a,
#book-class a {
    color: #F3EDCD;
    text-decoration: none;
}

/* Address and map section */
#map_contact {
    background-color: #695864;
    color: #F3EDCD;
    width: 100%;
    margin: auto;
}

#map {
    max-width: 100%;
    overflow: hidden;
    color: red;
    width: 300px;
    height: 300px;
    margin: auto;
}

#display-google-map {
    height: 100%;
    width: 100%;
    max-width: 100%;
}

#display-google-map img.text-marker {
    max-width: none !important;
    background: none !important;
}

img {
    max-width: none
}

/* Contact form */
#contact {
    left: 20px;
}

#contact>form {
    background-color: #695864;

}

#contact-form>h2 {
    padding-bottom: 25px;
}

/* Sign up page */

#sign_up {
    background: url('../images/pexels-polina-tankilevitch-3875103.jpg') no-repeat center / cover;
    height: 600px;
    width: 100%;
    position: relative;
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 0 10%;
    flex-grow: 1;
}

#sign_up_form {
    color: #410c31;
    padding: 15px;
}

#sign_up>form {
    background-color: rgba(199, 156, 186, 0.5);
    position: absolute;
    font-size: 100%;
    height: 90%;
    width: 80%;
}

#sign_up h3,
h2 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    padding-bottom: 10px;
}

#baby_age {
    padding-bottom: 10px;
}

.text_input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.checkbox {
    width: 100%;
    display: block;
}

.book-button {
    margin-top: 10px;
    border-radius: 2px;
    padding: 15px 30px;
    font-size: 100%;
    background-color: #410c31;
    color: #F3EDCD;
    display: block;
    float: right;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    background-color: #F3EDCD;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #410c31;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {

    /*header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    /* Main content */
    main {
        /*Push main content down to accomodate larger header */
        margin-top: 81px;
    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav_toggle_label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 75px;
        margin: 0 0.5rem;
    }

    /* Hero */
    #cover_text {
        width: 500px;
        right: 50px;
    }

    #cover_text>h2 {
        font-size: 250%;
        text-align: center;
    }

    /* Reasons section */
    #benefits_parent,
    #benefits_baby {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #benefits {
        display: flex;
        flex-direction: row;
    }

    #benefits>div {
        flex: 1;
    }

    #benefits_parent {
        order: 0
    }

    #benefits-image {
        order: 1;
    }

    #benefits_baby {
        order: 2;
    }

    #benefits_baby {
        align-self: flex-start;
    }

    #benefits_parent {
        align-self: flex-end;
    }

    /* Address and google map section */
    #map,
    #contact {

        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 20px 20px;
    }

    #map_contact {
        display: flex;
        flex-direction: row;
    }

    #benefits>div {
        flex: 1;
    }

    #contact {
        order: 0;
        align-self: flex-start;
    }

    #map {
        align-self: flex-end;
        order: 1;
    }

}

@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #410c31;
    }

}