/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Ubuntu:wght@300&display=swap');

/* Asterisk wild selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Header */
header {
    background-color: #FFEFA0;
    padding: 0 1 rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px #1B1818;
}

h1 {
    color: #1B1818;
    font-family: "Satisfy", sans-serif;
 } 

/* Main content */
main {
    background-color: #95D5F4;
    /*Make main element take up any surplus space to push footer down */
    flex: 1 0 auto;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Ubuntu", sans-serif;
}

/* Footer */
footer {
    background-color: #1B1818;
    color: white
}